<!DOCTYPE html>
<html>
  <head>
    <title>ShareBook</title>
    <meta charset="UTF-8">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyA6NIcSBd-Ryo881Rp2Zjnv6pvDNwe9gmk&language=ja"></script>
    
  </head>

  <body>
    <header class="header">
      <div class="header__bar row">
        <h1 class="grid-6"><a href="/">ShareBook</a></h1>
      <% if user_signed_in?%>
        <div class="user_nav grid-6">
          <span><%= current_user.nickname %>
            <ul class ="user__info">
              <li>
                <%= link_to "マイページ", "/users/#{current_user.id}" %>
                <%= link_to "GoogleMap", "/maps"%>
                <%= link_to "ログアウト", destroy_user_session_path,method: :delete %>
              </li>
            </ul>
          </span>
           <%= link_to  "投稿する", "/tweets/new", class: "post" %>
        </div>
      <% else %>
        <div class ="grid-6">
          <%= link_to "ログイン", new_user_session_path,class: 'post' %>
          <%= link_to "新規登録", new_user_registration_path,class: 'post'%>
        </div>
      <% end %>
      </div>
    </header>

    <%= yield %>

    <footer>
      <p>
        sharebook 2020.
      </p>
    </footer>
  </body>
</html>